on:
  push:
    branches:
      - main
    paths:
      - '.github/**'
      - 'Dev/**'
jobs:
  linux:
    name: Build for Linux
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - name: Update Submodules
        run: git submodule update --init --recursive
      - name: Build binaries
        run: |
          sudo apt-get update
          sudo apt-get install scons
          sudo apt-get install gcc-multilib
          sudo apt-get install g++-multilib
          python3 Dev/Cpp/build.py platform=linux
      - name: Upload binaries
        uses: actions/upload-artifact@v3
        with:
          name: bin_linux
          path: ./Dev/Godot/addons/effekseer/bin

  android:
    name: Build for Android
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - name: Update Submodules
        run: git submodule update --init --recursive
      - name: Build binaries
        run: |
          sudo apt-get install scons
          python3 Dev/Cpp/build.py platform=android
      - name: Upload binaries
        uses: actions/upload-artifact@v3
        with:
          name: bin_android
          path: ./Dev/Godot/addons/effekseer/bin

  macos:
    name: Build for macOS
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v3
      - name: Update Submodules
        run: git submodule update --init --recursive
      - name: Build binaries
        run: |
          brew install scons
          python3 Dev/Cpp/build.py platform=macos
      - name: Upload binaries
        uses: actions/upload-artifact@v3
        with:
          name: bin_macos
          path: ./Dev/Godot/addons/effekseer/bin

  ios:
    name: Build for iOS
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v3
      - name: Update Submodules
        run: git submodule update --init --recursive
      - name: Build binaries
        run: |
          brew install scons
          python3 Dev/Cpp/build.py platform=ios
      - name: Upload binaries
        uses: actions/upload-artifact@v3
        with:
          name: bin_ios
          path: ./Dev/Godot/addons/effekseer/bin

  windows:
    name: Build for Windows
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - name: Update Submodules
        run: git submodule update --init --recursive
      - name: Build binaries
        run: |
          python -m pip install scons
          python Dev/Cpp/build.py platform=windows
        shell: cmd
      - name: Upload binaries
        uses: actions/upload-artifact@v3
        with:
          name: bin_windows
          path: ./Dev/Godot/addons/effekseer/bin

  web:
    name: Build for Web
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - name: Update Submodules
        run: git submodule update --init --recursive
      - name: Setup emsdk
        uses: mymindstorm/setup-emsdk@v12
        with:
          version: 3.1.18
          actions-cache-folder: './emsdk'
      - name: Build binaries
        run: |
          sudo apt-get install scons
          python3 Dev/Cpp/build.py platform=web
      - name: Upload binaries
        uses: actions/upload-artifact@v3
        with:
          name: bin_web
          path: ./Dev/Godot/addons/effekseer/bin

  merge:
    name: Merge 
    runs-on: ubuntu-20.04
    needs: [linux, android, macos, ios, windows, web]
    steps:
      - uses: actions/checkout@v3

      - name: Download Linux binaries
        uses: actions/download-artifact@v1
        with:
          name: bin_linux

      - name: Download Android binaries
        uses: actions/download-artifact@v1
        with:
          name: bin_android

      - name: Download macOS binaries
        uses: actions/download-artifact@v1
        with:
          name: bin_macos

      - name: Download iOS binaries
        uses: actions/download-artifact@v1
        with:
          name: bin_ios

      - name: Download Windows binaries
        uses: actions/download-artifact@v1
        with:
          name: bin_windows

      - name: Download web binaries
        uses: actions/download-artifact@v1
        with:
          name: bin_web

      - name: Copy binaries
        run: |
          mkdir ./Dev/Godot/addons/effekseer/bin
          cp -r bin_linux/linux ./Dev/Godot/addons/effekseer/bin/
          cp -r bin_android/android ./Dev/Godot/addons/effekseer/bin/
          cp -r bin_macos/macos ./Dev/Godot/addons/effekseer/bin/
          cp -r bin_ios/ios ./Dev/Godot/addons/effekseer/bin/
          cp -r bin_windows/windows ./Dev/Godot/addons/effekseer/bin/
          cp -r bin_web/web ./Dev/Godot/addons/effekseer/bin/

      - name: Upload built package
        uses: actions/upload-artifact@v3
        with:
          name: addons
          path: ./Dev/Godot/addons
